<% provide(:title, '') %>
<div id="concept">
    <div class="content">
      <h2>OurShlef</h2>
      <h1><spam class="spam1">わたしの本棚 / あなたの本棚</spam> が <spam class="spam2">わたしたちの本棚</spam> にアップデートします。</h1>
      <p><%= link_to "無料会員登録", signup_path, class: "btn" %></p>
    </div>
</div>
