<div id="concept">
    <div class="content">
      <h2>OurShlef</h2>
      <h1>「わたしの本棚」「あなたの本棚」が「わたしたちの本棚」にアップデートされます。</h1>
    </div>
</div>
<div id="main">
  <div id="main-ranking" class="box">
    <h2>ランキング</h2>
    <ul>
      <li class="ranking">
        <div class="contentbox">
          <a href="https://images-na.ssl-images-amazon.com/images/I/A1F4B3rQiCL.jpg"><!--このaのhrefは、本当はサイトのないの本の紹介ページに飛ぶ-->
            <img src="https://images-na.ssl-images-amazon.com/images/I/A1F4B3rQiCL.jpg" alt="お金2.0">
          </a>
          <div class="bookinfo">
            <h3>お金2.0</h3>
            <div class="author">
              <a href="https://www.amazon.co.jp/%E4%BD%90%E8%97%A4-%E8%88%AA%E9%99%BD/e/B076WXRKGV/ref=dp_byline_cont_book_1">佐藤航陽</a>
            </div>
          </div>
          <ul>
            <li>
              <a href="#">
                <span class="btn">本棚に登録</span>
              </a>
            </li>
          </ul>
          <div class="bookother">
            <a href="#">何人が登録</a>
            <a href="https://www.amazon.co.jp/product-reviews/4344032152/ref=acr_dpx_see_all?ie=UTF8&showViewpoints=1">★4.0</a>
            <a href="#">持っている友達</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div id="main-sintyaku" class="box">
    <h2>新着情報</h2>
    <ul>
      <li class="sintyaku">
        <div class="contentbox">
          <a href="https://images-na.ssl-images-amazon.com/images/I/81GK14aFPAL.jpg"><!--このaのhrefは、本当はサイトのないの本の紹介ページに飛ぶ-->
            <img src="https://images-na.ssl-images-amazon.com/images/I/81GK14aFPAL.jpg" alt="日本再興戦略">
          </a>
          <div class="bookinfo">
            <h3>日本再興戦略</h3>
            <div class="author">
              <a href="https://www.amazon.co.jp/%E8%90%BD%E5%90%88-%E9%99%BD%E4%B8%80/e/B076X3GLTB/ref=dp_byline_cont_book_1">落合陽一</a>
            </div>
          </div>
          <ul>
            <li>
              <a href="#">
                <span class="btn">本棚に登録</span>
              </a>
            </li>
          </ul>
          <div class="bookother">
            <a href="#">何人が登録</a>
            <a href="https://www.amazon.co.jp/product-reviews/4344032179/ref=acr_dpx_see_all?ie=UTF8&showViewpoints=1">★4.0</a>
            <a href="#">持っている友達</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="clear"></div><!-- floatをクリアするため、空タグは良くない -->
