<% provide(:title, "設定") %>
<div>
  <h1>
    <%= image_tag @user.picture.url, :size =>'80' if @user.picture? %>
    <%= @user.name %>
  </h1>
  <br>
  <p>
    <%= @user.self_introduction %>
  </p>
</div>
<div>
  <%= link_to "プロフィールを編集", edit_user_path(current_user) %>
</div>
