// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shelf {
  tbody {
    padding: 50px;
  }

  tr {
    float: left;
    padding: 30px;
  }
}

.book-result {
  margin-left: 40px;
  width: 70%;
  background-color: #fce2c4;
  float: left;
}
