@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

* {
  font-family: "ヒラギノ角ゴシック W0";
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

.clear {
  clear: left;
}

ul {
  list-style: none;
}

/* header */

header {
  height: 80px;
  width:100%;
  background-color: #1E1D47;

  #logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 8px;
  padding-right: 20px;
  padding-left: 5px;
  font-weight: bold;
    :hover {
      background-color:#ddd;
    }
  }


  .info {
    li {
      color: white;
      float: left;
      font-size: 1.5em;
      padding-top: 30px;
      padding-left: 30px;
      color: white ;
    }
  }

  .navbar-right {
    padding-top: 10px;
    padding-right: 20px;
  }


}

.container {
  width: 90%;
}

.list li {
  float:left;
  color: white;
  padding:20px 20px;
  display: inline-block;
}

.selected a {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.selected :hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.selected a {
  line-height:60px;
  padding:0px 25px;
  margin-right: 30px;
  color:white;
  display:block;
  transition: all 1s;
}

.clear {
  clear: left;
}

#concept {
  background-image: url(http://cdn-ak.f.st-hatena.com/images/fotolife/a/akihito_jam1/20141021/20141021025932.jpg);
  /* 他人のサイトの画像、付け焼刃 */
  height: 700px;
  background-size: cover;
  p {
    :visited {
      color: #fff;
      text-decoration: none;
    }
    :active {
      color: #fff;
      text-decoration: none;
    }
  }
  .content {
    background: rgba(160, 160, 160, 0.5);
    height: inherit;
    h1, h2, p {
      color: #fff;
      padding: 15px 0px;
      text-align: center;
    }
    h1 {
      padding-top: 100px;
      font-size: 5.0em;
    }
    h2 {
      font-size: 4.2em;
      line-height: 2em;
    }
    p {
      padding-top: 30px;
      font-size: 30px;
    }
  }
}

.contentbox img {
  width:100px;
  }﻿

.box {
  float: left;
  padding: 0px 20px;
  width:50%;
}

.box h2 {
  border-bottom: 2px solid #000000;
  border-left: 5px solid #00ffffff;
  margin-bottom: 10px;
  color: black;
}

.contentbox img {
  float: left;
}

.bookinfo {
  float: left;
  padding: 0px 20px;
}

.bookother {
  clear: left;
}

.bookother a {
  padding: 0px 15px;
}

.btn {
  background-color: rgba(31, 30, 71, 0.5)
}

/* footer */

footer {
  height: auto;
  background-color: #1E1D47;
  color: white;
}

#footer-logo {
  padding-bottom: 4px;
  font-size: 20px;
  padding-left: 10px;
}

#footer-list {
  padding-left: 15px;
  li {
    :link {
      color: #fff;
      text-decoration: none;
    }
    :visited {
      color: #fff;
      text-decoration: none;
    }
    :hover {
      color: #fff;
      text-decoration: underline;
    }
    :active {
      color: #fff;
      text-decoration: none;
    }
  }
}

p {
  color: black;
}

/* modal */

.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  margin: auto;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

.row {
  padding-bottom: 30px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* books */
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
