<footer>
  <div id="footer-logo">OurShelf</div>
  <div id="footer-list">
    <!--<h4>MENU</h4>-->
    <ul>
      <li><%= link_to "OurShelfについて", about_path %></li>
      <li><%= link_to "コンセプト", "#" %></li>
      <li><%= link_to "お問い合わせ", "https://twitter.com/ShiDareZAKURA18" %></li>
    </ul>
  </div>
</footer>
