<header id="header-wrapper">
  <div id="header-logo">OurShelf</div>
  <div id="header-list">
    <ul class="list">
      <li>ランキング</li>
      <li>新着情報</li>
    </ul>
    <ul>
      <li class="selected">
        <%= link_to "ログイン", "#" %>
      </li>
    </ul>
  </div>
  <div class="clear"></div>
</header>
